{% extends 'jobs/base.html' %}
{% block content %}
    
     <ul id="timeline">

                    <li class="listing clearfix">
                        <div class="image_wrapper">
                            <img class="" src="{{object.job.logo.url}}" alt="{{object.job.logo}}">
                        </div>
                        <div class="info">
                            <span class="job_title">{{object.jobTitle}}</span><br>
                            <span class="job_info">
                               {{object.job.companyname}} <span>&bull;</span> {{object.jobCity}} <span>&bull;</span> {{object.pubDate |date:"M d"}}
                            </span>
                            
                        </div>
                        <span class="job_type full_time">{{object.jobType}}</span>
                    </li>           
<li class="listing">{{object.jobDetails|linebreaks }}</li>
            </ul>
            <br>
            <div class="load_more">
                <a href="/" class="button">Back</a>
            </div>
        </div>
    {% endblock %}